@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base Colors */
  --primary-color: #01253E;
  --secondary-color: #FEEFE0;
  --Tertiary-color: #F0F2F5;

  /* Semantic Colors */
  --pending-color: #FBC02D;
  --success-color: #4CAF50;
  --links-color: #1B46C6;
  --warning-color: #C62828;

  /* Fonts */
  --font-serif: 'Georgia Pro', serif;
  --font-sans: 'DM Sans', sans-serif;
}

body {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  color: var(--secondary-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* seccion de estilos de dashboard */
@layer components {
  .section-card {
    @apply bg-white rounded-xl shadow-sm border border-slate-200 p-6;
  }

  .section-header {
    @apply flex items-center justify-between mb-6;
  }

  .section-header-left {
    @apply text-base font-bold flex items-center gap-2 text-gray-700;
  }

  .section-header-right {
    @apply text-sm text-slate-500;
  }

  .item-container {
    @apply bg-slate-50 rounded-lg p-4;
  }

  .item-row-between {
    @apply flex justify-between items-start mb-1;
  }

  .item-client {
    @apply text-sm text-slate-600;
  }

  .item-amount {
    @apply text-sm font-medium text-slate-900;
  }

  .item-status {
    @apply flex items-center space-x-1 text-sm font-medium;
  }

  .section-button-blue {
    @apply w-full mt-6 bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition-colors font-medium;
  }

  .section-title {
    @apply text-lg font-semibold text-slate-900;
  }

  .section-icon {
    @apply h-5 w-5;
  }

  .invoice-number-text {
    @apply font-semibold text-slate-900;
  }

  .status-badge {
    @apply px-2 py-1 rounded-full text-xs font-medium;
  }
}